In [5]:
import pandas as pd
import numpy
from random import randint

## TASK 2 a)

AT / Austria (also sometimes OE in German-speaking countries: for "Oesterreich"
BE / Belgium
BG / Bulgaria
CH / Switzerland (from Confoederatio Helvetica)
DE / Germany
DK / Denmark
ES / Spain
FI / Finland
FR / France
GB / United Kingdom (of Great Britain and Northern Ireland)
GR / Greece
HU / Hungary
IE / Ireland
IS / Iceland
IT / Italy
LU / Luxembourg
NO / Norway
NL / Netherlands
PO / Poland
PT / Portugal
RO / Romania
RU / Russian Federation
SE / Sweden
TR / Turkey
UA / Ukraine

In [51]:
list_of_countries= ['AT','BE','BG','CH','DE','DK','ES','FI','FR','GB','GR','HU','IE','IS','IT','LU','NO','NL','PO','PT','RO','RU','SE','TR','UA']

In [53]:
# Making an unbalanced categorical atribute of countries
len(list_of_countries)
# 1 country with a probability of 35%, another with 25%, 20%, 19% 
# and the rest of the 21 countries will have a 1% between themselfs
country_35=list_of_countries[0]
country_25=list_of_countries[2]
country_20=list_of_countries[1]
country_19=list_of_countries[3]
others_1 = list_of_countries[4:25]

In [139]:
#Making a categorical attribute by building a list of countries into a pandas dataframe
def p():
    return randint(0,100)/100

countries =[]
for i in range(100):
    per = p()
#     print(per)
    if per>0.65:countries.append(country_30)
    elif 0.65>=per>0.40:countries.append(country_25)
    elif 0.40>=per>0.20:countries.append(country_20)
    elif 0.20>=per>0.01:countries.append(country_15)
    else: countries.append(others_1[randint(0,20)])

assert len(countries) == 100
country_attributes = list(set(countries))
countries_dataframe = pd.DataFrame()
countries_dataframe['Country'] = se = pd.Series(countries)

In [114]:
list(country_attributes)

['HU', 'BE', 'PO', 'BG', 'GB', 'CH', 'AT', 'IT', 'ES']

In [140]:
# frequency in numbers of attributes
frequency_dictionary=dict((value,0) for value in country_attributes)
for i in countries_dataframe.values:
    for k in frequency_dictionary.keys():
        if k == i: frequency_dictionary[k]+=1
frequency_dictionary

{'AT': 41, 'BE': 25, 'BG': 22, 'CH': 9, 'ES': 1, 'IE': 1, 'PO': 1}

In [141]:
# frequency in percentage
frequency_dictionary=dict((value,0) for value in country_attributes)
for i in countries_dataframe.values:
    for k in frequency_dictionary.keys():
        if k == i: frequency_dictionary[k]+=1/len(countries_dataframe)
frequency_dictionary

{'AT': 0.4100000000000002,
 'BE': 0.25000000000000006,
 'BG': 0.22000000000000006,
 'CH': 0.09,
 'ES': 0.01,
 'IE': 0.01,
 'PO': 0.01}

In [143]:
#
def naive_dimensionality_reduction(countries_dataframe, percentage):
    frequency_dictionary=dict((value,0) for value in country_attributes)
    for i in countries_dataframe.values:
        for k in frequency_dictionary.keys():
            if k == i: frequency_dictionary[k]+=1/len(countries_dataframe)
    
    list_replace_attributes = []
    for i in frequency_dictionary.keys():
        if frequency_dictionary[i]<percentage/100:
            list_replace_attributes.append(i)
    
    return countries_dataframe.replace(to_replace=list_replace_attributes,value='GENERIC')

In [147]:
naive_dimensionality_reduction(countries_dataframe,30)

    Country
0        AT
1        AT
2   GENERIC
3   GENERIC
4   GENERIC
5   GENERIC
6   GENERIC
7        AT
8   GENERIC
9        AT
10  GENERIC
11  GENERIC
12  GENERIC
13       AT
14  GENERIC
15       AT
16  GENERIC
17       AT
18       AT
19  GENERIC
20       AT
21  GENERIC
22  GENERIC
23  GENERIC
24       AT
25       AT
26       AT
27  GENERIC
28       AT
29  GENERIC
..      ...
70  GENERIC
71       AT
72       AT
73       AT
74  GENERIC
75       AT
76       AT
77  GENERIC
78  GENERIC
79  GENERIC
80       AT
81       AT
82  GENERIC
83       AT
84  GENERIC
85       AT
86  GENERIC
87  GENERIC
88       AT
89  GENERIC
90  GENERIC
91       AT
92  GENERIC
93  GENERIC
94  GENERIC
95  GENERIC
96       AT
97       AT
98  GENERIC
99  GENERIC

[100 rows x 1 columns]

## TASK 2 b)

## TASK 2 c)

In [148]:
!ipython nbconvert Task\ 2\ Functions\ for\ Categorical\ attributes.ipynb --to html

[TerminalIPythonApp] WARNING | Subcommand `ipython nbconvert` is deprecated and will be removed in future versions.
[TerminalIPythonApp] WARNING | You likely want to use `jupyter nbconvert` in the future
[NbConvertApp] Converting notebook Task 2 Functions for Categorical attributes.ipynb to html
[NbConvertApp] Writing 270515 bytes to Task 2 Functions for Categorical attributes.html