In [1]:
import pandas as pd

In [2]:
pd.to_datetime('12-11-2010 00:00', format='%d-%m-%Y %H:%M')

Timestamp('2010-11-12 00:00:00')

In [3]:
import pandas
df = pandas.DataFrame(columns=['to','fr','ans'])
df.to = [pandas.Timestamp('2014-01-24 13:03:12.050000'), pandas.Timestamp('2014-01-27 11:57:18.240000'), pandas.Timestamp('2014-01-23 10:07:47.660000')]
df.fr = [pandas.Timestamp('2014-01-26 23:41:21.870000'), pandas.Timestamp('2014-01-27 15:38:22.540000'), pandas.Timestamp('2014-01-23 18:50:41.420000')]
(df.fr-df.to).astype('timedelta64[h]')

0    58.0
1     3.0
2     8.0
dtype: float64

In [6]:
t2 = '2017/10/13 19:00'
t1 = '2017/10/13 17:10'

def lel(t1,t2):
    """
    accepts t1 and t2
    ----------------
    outputs number of absolute hours
    """
    t1 = pd.to_datetime(t1, format='%Y/%m/%d %H:%M')
    t2 = pd.to_datetime(t2, format='%Y/%m/%d %H:%M')
    delta = t2-t1
    print('{} minutes / rounded hours {}'.format(delta.seconds/60,round(delta.seconds/3600)))
    return delta.seconds/3600 #.astype('timedelta64[h]')

a=lel(t1,t2)
a

110.0 minutes / rounded hours 2

1.8333333333333333

In [19]:
a.components

Components(days=0, hours=1, minutes=50, seconds=0, milliseconds=0, microseconds=0, nanoseconds=0)

In [21]:
a.seconds / 3600

1.8333333333333333

In [7]:
t1 = '2017/10/13 17:10'
t2 = '2017/10/13 19:00'

from pandas.tseries.offsets import BusinessHour,BDay

bd = BDay()
bh = BusinessHour()

def lel(t1,t2):
    """
    accepts t1 and t2
    ----------------
    outputs number of absolute hours
    """
    t1 = pd.to_datetime(t1, format='%Y/%m/%d %H:%M')
    t2 = pd.to_datetime(t2, format='%Y/%m/%d %H:%M')
    delta = pd.bdate_range(t1,t2)
    #print('{} minutes / rounded hours {}'.format(delta.seconds/60,round(delta.seconds/3600)))
    return delta #delta.seconds/3600 #.astype('timedelta64[h]')
a=lel(t1,t2)
a

DatetimeIndex(['2017-10-13'], dtype='datetime64[ns]', freq='B')

In [41]:
t_1 = pd.to_datetime("2018/1/7 16:00", format='%Y/%m/%d %H:%M')
t_2 = pd.to_datetime("2018/1/7 16:00", format='%Y/%m/%d %H:%M')

In [113]:
t_1.hour

16

In [42]:
delta = t_2 - t_1
delta.value

0

In [37]:
(t_1+bh) - pd.DateOffset(hours=1)

Timestamp('2018-01-08 10:00:00')

In [35]:
t_1+pd.DateOffset(hours=1)

Timestamp('2018-01-07 15:10:00')

In [11]:
BusinessHour().rollforward(t_1)

Timestamp('2018-01-08 09:00:00')

In [32]:
df.t1 - bh

Timestamp('2017-10-13 16:00:00')

In [12]:
bh.offset

datetime.timedelta(0)

In [41]:
lulito = BusinessHour().rollback(pd.Timestamp(t1))
if lulito-df.t1<0:
    print("haha")

TypeError: Cannot compare type 'Timedelta' with type 'int'

In [47]:
lulito.to_datetime64()

numpy.datetime64('2017-10-13T17:00:00.000000000')

In [47]:
def short(t1,t2):
    """
    accepts t1 and t2
    ----------------
    outputs number of absolute hours
    """
    delta = t2-t1
    #print('{} minutes / rounded hours {}'.format(delta.seconds/60,round(delta.seconds/3600)))
    return delta.seconds/3600 #.astype('timedelta64[h]')

In [196]:
start_time = pd.to_datetime("2018/1/8 13:00", format='%Y/%m/%d %H:%M')
end_time = pd.to_datetime("2018/1/8 12:10", format='%Y/%m/%d %H:%M')
short(start_time,end_time)

23.166666666666668

In [206]:
def lulitos(start_time,end_time):
    """
    inputs: start_time, end_time
    outputs: number of business hours between the 2 dates
    """
    t_1 = pd.to_datetime(start_time, format='%Y/%m/%d %H:%M')
    t_2 = pd.to_datetime(end_time, format='%Y/%m/%d %H:%M')
    delta = t_2 - t_1
    if delta.value < 0:
        return print("End time should be at a later date than start time!")
        
    time_2 = t_2 + bh

    if t_1.hour < 9 or t_1.hour > 16: hours_t1_left,time_1 = 0,t_1 + bh
    else: hours_t1_left,time_1 = t_1.minute/60, t_1 + bh - pd.DateOffset(minutes=t_1.minute)

    hours = 0
    while time_1.year!=time_2.year or time_1.month!=time_2.month or time_1.day!=time_2.day or time_1.hour!=time_1.hour:
        time_1 += bh
        hours += 1
    compounded_hours = hours + short(time_1,time_2) - hours_t1_left
    print('{} working minutes / {} rounded working hours '.format(int(compounded_hours*60),round(compounded_hours)))
    return compounded_hours

In [214]:
start_time = pd.to_datetime("2018/1/12 16:45", format='%Y/%m/%d %H:%M')
end_time = pd.to_datetime("2018/2/15 9:10", format='%Y/%m/%d %H:%M')
lulitos(start_time,end_time)

11065 working minutes / 184 rounded working hours

184.41666666666666

In [179]:
end_time+=bh
end_time

Timestamp('2018-01-15 09:10:00')

In [186]:
start_time+=bh
start_time

Timestamp('2018-01-09 09:00:00')