In [5]:
import pandas as pd
import numpy
from random import randint

## TASK 2 
a)

AT / Austria (also sometimes OE in German-speaking countries: for "Oesterreich"
BE / Belgium
BG / Bulgaria
CH / Switzerland (from Confoederatio Helvetica)
DE / Germany
DK / Denmark
ES / Spain
FI / Finland
FR / France
GB / United Kingdom (of Great Britain and Northern Ireland)
GR / Greece
HU / Hungary
IE / Ireland
IS / Iceland
IT / Italy
LU / Luxembourg
NO / Norway
NL / Netherlands
PO / Poland
PT / Portugal
RO / Romania
RU / Russian Federation
SE / Sweden
TR / Turkey
UA / Ukraine

In [51]:
list_of_countries= ['AT','BE','BG','CH','DE','DK','ES','FI','FR','GB','GR','HU','IE','IS','IT','LU','NO','NL','PO','PT','RO','RU','SE','TR','UA']

In [150]:
# Making an unbalanced categorical atribute of countries
# 1 country with a probability of 35%, another with 25%, 20%, 19% 
# and the rest of the 21 countries will have a 1% between themselfs
country_35=list_of_countries[0]
country_25=list_of_countries[2]
country_20=list_of_countries[1]
country_19=list_of_countries[3]
others_1 = list_of_countries[4:len(list_of_countries)]

In [158]:
#Making a categorical attribute by building an unbalanced list of 100 values according 
#to the percentages defined above. The list is converted into a pandas dataframe column.
#defined above.
def p():
    return randint(0,100)/100

countries =[]
for i in range(100):
    per = p()
#     print(per)
    if per>0.65:countries.append(country_30)
    elif 0.65>=per>0.40:countries.append(country_25)
    elif 0.40>=per>0.20:countries.append(country_20)
    elif 0.20>=per>0.01:countries.append(country_15)
    else: countries.append(others_1[randint(0,20)])

assert len(countries) == 100
country_attributes = list(set(countries))
countries_dataframe = pd.DataFrame()
countries_dataframe['Country'] = se = pd.Series(countries)
list(country_attributes)

['DE', 'BE', 'PO', 'BG', 'GB', 'CH', 'AT', 'NO', 'FI']

In [153]:
# frequency in numbers of attributes of the pandas dataframe
frequency_dictionary=dict((value,0) for value in country_attributes)
for i in countries_dataframe.values:
    for k in frequency_dictionary.keys():
        if k == i: frequency_dictionary[k]+=1
frequency_dictionary

{'AT': 35, 'BE': 25, 'BG': 20, 'CH': 19, 'TR': 1}

In [154]:
# frequency in percentage 
frequency_dictionary=dict((value,0) for value in country_attributes)
for i in countries_dataframe.values:
    for k in frequency_dictionary.keys():
        if k == i: frequency_dictionary[k]+=1/len(countries_dataframe)
frequency_dictionary

{'AT': 0.35000000000000014,
 'BE': 0.25000000000000006,
 'BG': 0.20000000000000004,
 'CH': 0.19000000000000003,
 'TR': 0.01}

In [155]:
# Here we define the function asked in a) and prove its validity with 
def naive_dimensionality_reduction(countries_dataframe, percentage):
    frequency_dictionary=dict((value,0) for value in country_attributes)
    for i in countries_dataframe.values:
        for k in frequency_dictionary.keys():
            if k == i: frequency_dictionary[k]+=1/len(countries_dataframe)
    
    list_replace_attributes = []
    for i in frequency_dictionary.keys():
        if frequency_dictionary[i]<percentage/100:
            list_replace_attributes.append(i)
    
    return countries_dataframe.replace(to_replace=list_replace_attributes,value='GENERIC')

In [156]:
naive_dimensionality_reduction(countries_dataframe,30)

    Country
0        AT
1   GENERIC
2        AT
3   GENERIC
4   GENERIC
5   GENERIC
6        AT
7   GENERIC
8        AT
9   GENERIC
10  GENERIC
11  GENERIC
12       AT
13  GENERIC
14  GENERIC
15       AT
16  GENERIC
17  GENERIC
18  GENERIC
19  GENERIC
20  GENERIC
21       AT
22  GENERIC
23  GENERIC
24       AT
25  GENERIC
26  GENERIC
27  GENERIC
28  GENERIC
29  GENERIC
..      ...
70       AT
71       AT
72  GENERIC
73       AT
74  GENERIC
75  GENERIC
76       AT
77       AT
78  GENERIC
79  GENERIC
80  GENERIC
81       AT
82  GENERIC
83       AT
84       AT
85  GENERIC
86  GENERIC
87       AT
88       AT
89  GENERIC
90       AT
91       AT
92       AT
93  GENERIC
94  GENERIC
95  GENERIC
96  GENERIC
97  GENERIC
98  GENERIC
99  GENERIC

[100 rows x 1 columns]

## TASK 2 b)

## TASK 2 c)