In [2]:
import pandas as pd
import numpy
from random import randint

## TASK 2

## Description of the solution

Before building the method that leads to the replacement of categorical attributes, I will first build a randam pandas collumn that looks statistically similar to the one described in the task, so it can be used to test the solution.

In [ ]:
# AT / Austria (also sometimes OE in German-speaking countries: for "Oesterreich"
# BE / Belgium
# BG / Bulgaria
# CH / Switzerland (from Confoederatio Helvetica)
# DE / Germany
# DK / Denmark
# ES / Spain
# FI / Finland
# FR / France
# GB / United Kingdom (of Great Britain and Northern Ireland)
# GR / Greece
# HU / Hungary
# IE / Ireland
# IS / Iceland
# IT / Italy
# LU / Luxembourg
# NO / Norway
# NL / Netherlands
# PO / Poland
# PT / Portugal
# RO / Romania
# RU / Russian Federation
# SE / Sweden
# TR / Turkey
# UA / Ukraine

In [3]:
list_of_countries= ['AT','BE','BG','CH','DE','DK','ES','FI','FR','GB','GR','HU','IE','IS','IT','LU','NO','NL','PO','PT','RO','RU','SE','TR','UA']

In [4]:
# Making an unbalanced categorical atribute of countries
len(list_of_countries)
# 1 country with a probability of 35%, another with 25%, 20%, 19% 
# and the rest of the 21 countries will have a 1% between themselfs
country_35=list_of_countries[0]
country_25=list_of_countries[2]
country_20=list_of_countries[1]
country_19=list_of_countries[3]
others_1 = list_of_countries[4:25]

In [7]:
#Making a categorical attribute by building a list of countries into a pandas dataframe
def p():
    return randint(0,100)/100

countries =[]
for i in range(100):
    per = p()
#     print(per)
    if per>0.65:countries.append(country_35)
    elif 0.65>=per>0.40:countries.append(country_25)
    elif 0.40>=per>0.20:countries.append(country_20)
    elif 0.20>=per>0.01:countries.append(country_19)
    else: countries.append(others_1[randint(0,20)])

assert len(countries) == 100
country_attributes = list(set(countries))
countries_dataframe = pd.DataFrame()
countries_dataframe['Country'] = se = pd.Series(countries)
list(country_attributes)

In [15]:
countries_dataframe

   Country
0       AT
1       BG
2       CH
3       AT
4       BG
5       CH
6       BE
7       BE
8       CH
9       AT
10      BE
11      BG
12      CH
13      BG
14      BE
15      AT
16      CH
17      BE
18      BE
19      AT
20      AT
21      BE
22      AT
23      AT
24      BG
25      BG
26      AT
27      CH
28      BE
29      BE
..     ...
70      AT
71      AT
72      CH
73      BG
74      BG
75      BE
76      BE
77      BG
78      AT
79      AT
80      BG
81      CH
82      BE
83      AT
84      BE
85      AT
86      CH
87      CH
88      AT
89      BG
90      BE
91      AT
92      AT
93      BG
94      AT
95      BG
96      BE
97      BE
98      BG
99      CH

[100 rows x 1 columns]

In [9]:
# frequency in numbers of attributes of the resulting pandas collumn
frequency_dictionary=dict((value,0) for value in country_attributes)
for i in countries_dataframe.values:
    for k in frequency_dictionary.keys():
        if k == i: frequency_dictionary[k]+=1
frequency_dictionary

{'AT': 30, 'BE': 25, 'BG': 23, 'CH': 21, 'PT': 1}

In [10]:
# frequency in percentage
frequency_dictionary=dict((value,0) for value in country_attributes)
for i in countries_dataframe.values:
    for k in frequency_dictionary.keys():
        if k == i: frequency_dictionary[k]+=1/len(countries_dataframe)
frequency_dictionary

{'AT': 0.3000000000000001,
 'BE': 0.25000000000000006,
 'BG': 0.23000000000000007,
 'CH': 0.21000000000000005,
 'PT': 0.01}

a) Write a function with 2 input arguments i) the values of a categorical attribute like the values of Country in the above dataset ii) a percentage between 0%-100%. The output should be as the first input with the values that occur less frequent than the input percentage replaced by a generic categorical value.

In [11]:
# This method corresponds to solution of a) by replacing less frequent values by 
# a generic attribute
def naive_dimensionality_reduction(countries_dataframe, percentage):
    frequency_dictionary=dict((value,0) for value in country_attributes)
    for i in countries_dataframe.values:
        for k in frequency_dictionary.keys():
            if k == i: frequency_dictionary[k]+=1/len(countries_dataframe)
    
    list_replace_attributes = []
    for i in frequency_dictionary.keys():
        if frequency_dictionary[i]<percentage/100:
            list_replace_attributes.append(i)
    
    return countries_dataframe.replace(to_replace=list_replace_attributes,value='GENERIC')

In [16]:
naive_dimensionality_reduction(countries_dataframe,percentage=24)

    Country
0        AT
1   GENERIC
2   GENERIC
3        AT
4   GENERIC
5   GENERIC
6        BE
7        BE
8   GENERIC
9        AT
10       BE
11  GENERIC
12  GENERIC
13  GENERIC
14       BE
15       AT
16  GENERIC
17       BE
18       BE
19       AT
20       AT
21       BE
22       AT
23       AT
24  GENERIC
25  GENERIC
26       AT
27  GENERIC
28       BE
29       BE
..      ...
70       AT
71       AT
72  GENERIC
73  GENERIC
74  GENERIC
75       BE
76       BE
77  GENERIC
78       AT
79       AT
80  GENERIC
81  GENERIC
82       BE
83       AT
84       BE
85       AT
86  GENERIC
87  GENERIC
88       AT
89  GENERIC
90       BE
91       AT
92       AT
93  GENERIC
94       AT
95  GENERIC
96       BE
97       BE
98  GENERIC
99  GENERIC

[100 rows x 1 columns]

## TASK 2 b)
Why could this function be useful in building a logistic regression model predicting a binary target like the Delayed (y/n) in the above dataset?

By replacing the least expressive (in terms of frequency) samples and aggregating them into a new attribute, a naive type of dimensionality reduction is performed. Since we do not have to consider N additional variables to represent the least expressive samples, the most expressive variables are captured more accurately, making a logistic regression model to generalize better, instead of trying to overfit to all samples.

## TASK 2 c)
Describe shortly another approach, which could be useful to treat a categorical attribute with too many different values.

Instead of replacing the least expressive samples and then perform one-hot encoding on the dataset, one could perform a custom binary encoding and choose a specific one that would reason better, if there was enough knowladge about the problem at hand. For instance, if we were performing regression on the price of a car, and had many categorical variables to describe it, such as brand, one could aggregate expensive brands and least expressive brands by making a custom encoding (expensive cars -- one variable)/(medium cars -- one variable)/(cheap cars- one variable).

Alternatively, describe briefly an algorithm that addresses internally
this issue and does not require such a treatment of the categorical attributes.

Instead of applying the methods mentioned above, one could apply robust dimensionality reduction methods to handle the problem automatically. One of the simpler methods, corresponds to PCA which can be solely derived by linear algebra and is equivalent to applying an orthogonal transformation to the dataset. The eigenvectors and eigen values of the covariance matrix determine the directions and magnitude of the transformation. This transformation corresponds to capturing the axis (principal components) of highest variance

In [14]:
!ipython nbconvert Task\ 2\ Functions\ for\ Categorical\ attributes.ipynb --to html

[TerminalIPythonApp] WARNING | Subcommand `ipython nbconvert` is deprecated and will be removed in future versions.
[TerminalIPythonApp] WARNING | You likely want to use `jupyter nbconvert` in the future
[NbConvertApp] Converting notebook Task 2 Functions for Categorical attributes.ipynb to html
[NbConvertApp] Writing 272305 bytes to Task 2 Functions for Categorical attributes.html