In [1]:
import pandas as pd

In [2]:
pd.to_datetime('12-11-2010 00:00', format='%d-%m-%Y %H:%M')

Timestamp('2010-11-12 00:00:00')

In [3]:
import pandas
df = pandas.DataFrame(columns=['to','fr','ans'])
df.to = [pandas.Timestamp('2014-01-24 13:03:12.050000'), pandas.Timestamp('2014-01-27 11:57:18.240000'), pandas.Timestamp('2014-01-23 10:07:47.660000')]
df.fr = [pandas.Timestamp('2014-01-26 23:41:21.870000'), pandas.Timestamp('2014-01-27 15:38:22.540000'), pandas.Timestamp('2014-01-23 18:50:41.420000')]
(df.fr-df.to).astype('timedelta64[h]')

0    58.0
1     3.0
2     8.0
dtype: float64

In [6]:
t2 = '2017/10/13 19:00'
t1 = '2017/10/13 17:10'

def lel(t1,t2):
    """
    accepts t1 and t2
    ----------------
    outputs number of absolute hours
    """
    t1 = pd.to_datetime(t1, format='%Y/%m/%d %H:%M')
    t2 = pd.to_datetime(t2, format='%Y/%m/%d %H:%M')
    delta = t2-t1
    print('{} minutes / rounded hours {}'.format(delta.seconds/60,round(delta.seconds/3600)))
    return delta.seconds/3600 #.astype('timedelta64[h]')

a=lel(t1,t2)
a

110.0 minutes / rounded hours 2

1.8333333333333333

In [19]:
a.components

Components(days=0, hours=1, minutes=50, seconds=0, milliseconds=0, microseconds=0, nanoseconds=0)

In [21]:
a.seconds / 3600

1.8333333333333333

In [7]:
t1 = '2017/10/13 17:10'
t2 = '2017/10/13 19:00'

from pandas.tseries.offsets import BusinessHour,BDay

bd = BDay()
bh = BusinessHour()

def lel(t1,t2):
    """
    accepts t1 and t2
    ----------------
    outputs number of absolute hours
    """
    t1 = pd.to_datetime(t1, format='%Y/%m/%d %H:%M')
    t2 = pd.to_datetime(t2, format='%Y/%m/%d %H:%M')
    delta = pd.bdate_range(t1,t2)
    #print('{} minutes / rounded hours {}'.format(delta.seconds/60,round(delta.seconds/3600)))
    return delta #delta.seconds/3600 #.astype('timedelta64[h]')
a=lel(t1,t2)
a

DatetimeIndex(['2017-10-13'], dtype='datetime64[ns]', freq='B')

In [9]:
t_1 = pd.to_datetime("2018/1/7 14:00", format='%Y/%m/%d %H:%M')
t_2 = pd.to_datetime("2018/1/7 16:00", format='%Y/%m/%d %H:%M')

In [18]:
delta = t_2 - t_1
delta.value

7200000000000

In [10]:
t_1+(bh-1)

Timestamp('2018-01-08 10:00:00')

In [11]:
BusinessHour().rollforward(t_1)

Timestamp('2018-01-08 09:00:00')

In [32]:
df.t1 - bh

Timestamp('2017-10-13 16:00:00')

In [12]:
bh.offset

datetime.timedelta(0)

In [41]:
lulito = BusinessHour().rollback(pd.Timestamp(t1))
if lulito-df.t1<0:
    print("haha")

TypeError: Cannot compare type 'Timedelta' with type 'int'

In [47]:
lulito.to_datetime64()

numpy.datetime64('2017-10-13T17:00:00.000000000')

In [ ]:
def short(t1,t2):
    """
    accepts t1 and t2
    ----------------
    outputs number of absolute hours
    """
    delta = t2-t1
    print('{} minutes / rounded hours {}'.format(delta.seconds/60,round(delta.seconds/3600)))
    return delta.seconds/3600 #.astype('timedelta64[h]')

In [ ]:
def lulitos(start_time,end_time):
    t_1 = pd.to_datetime(start_time, format='%Y/%m/%d %H:%M')
    t_2 = pd.to_datetime(end_time, format='%Y/%m/%d %H:%M')
    delta = t_2 - t_1
    if delta.value() < 0:
        print("End time should be at a later date than start time")
        break
    if delta.components.days == 0:
        t_1 = t_1 + bh -1
        t_2 = t_2 + bh -1
        
        while t_1.day!=t_2.day:
            t_1 + bh

In [22]:
b=0
for i in range(3000):
    b+=1
b

3000